html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.menu img{
    height: 100%;
    width: 100%;
    position:relative;
}
nav{ 
    position: absolute;   
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
ul{    
    margin: 0;
    padding: 0;
    position: absolute;   
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    list-style: none;
}
li{
    font-size: 40px;
}
.link{
    position: absolute;
    cursor: pointer; 
    font-size: 20px;
}
.minus-two{
    top: -400px;
    left: 200px;
}
.minus-one{
    top: -200px;
    left: 100px;
}
.minus-three{
    top: -600px;
    left: 300px;
}
.one{
    top: 0px;
    left: 0px;
}
.two{
    top: 200px;
    left: 100px;
}
.three{
    top: 400px;
    left: 200px;
}
.main{   
    font-size: 40px; 
}
.four{
    top: 600px;
    left: 300px;
}