
/* Menu Background styling and original position of background images */
#menu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #FF7C00; 
    animation: fadeIn ease .3s;
}
.menu-image{
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    right: 0;
}
#first-circle{
    z-index: 9;
    right: -200%;
}
#second-circle{
    z-index: 8;
    right: 200%;
}
#third-circle{
    z-index: 7;
    right: 200%;
}
#grey-background{
    z-index: 6;
    right: 200%;
}
#menu-logo{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 50px;
    z-index: 10;
    animation: fadeIn ease-in-out 1s; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}


/* IMPORTANT STYLING FOR ANIMATION TO WORK  */

#nav{ 
    z-index: 10;
    position: absolute;   
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#nav ul{    
    margin: 0;
    padding: 0;
    position: absolute;   
    list-style: none;
}
#main-list{
    top: 45%;
    left: 63%;
    z-index: 10;
    animation: fadeIn ease-in-out 1s;  
    display: none;
}
.second-list{
    top: 45%;
    left:25%;
    z-index: 10;
    display: none;
    animation: fadeIn ease-in-out .3s; 
}
.third-list{
    top: 45%;
    left: 3%;
    z-index: 10;
    display: none;
    animation: fadeIn ease-in-out .3s; 
}
.link i{
    font-size: calc(15px + .5vw);
    margin: 20px;
    visibility: hidden;
}
.link{
    position: absolute;
    cursor: pointer; 
    font-size: calc(15px + .5vw);
    font-weight: bold;    
    /* animation: fadeIn ease 1s; */
    transition: all ease-out;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main{   
    font-size: calc(20px + 1vw); 
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadeOut{
    0% {opacity:1;}
    100%{opacity:0;}
}
#back-mobile-arrow{
    display: none;
}

/* If you use same icon from fontawesome else delete */
.fa-sort{
    transform: rotate(90deg);
}
@media only screen and (max-width: 1600px) {
    .link{        
        font-size: calc(12px + .5vw);
        min-width: 250px;
    }
    .main{   
        font-size: calc(20px + 1vw); 
        min-width: 250px;
    }
    #menu-logo{
        font-size: 30px;
        right: -100%;
    }
    .second-list{
        left: -100%;
    }
    .third-list{
        left: -100%;
    }
    #back-mobile-arrow{
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 30px;
        color: whitesmoke;
        z-index: 15;
    }
}