html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.webpage{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.open-menu-btn{
    padding: 10px 20px;
    border: 1px solid rgb(104, 174, 197);
    background-color: white;
    cursor: pointer;
}
.open-menu-btn:hover{
    border: 1px solid rgb(94, 87, 197);
    background-color: rgb(104, 174, 197);
}



.menu{
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background: #FEA34A; */
    background: #FF7C00;
    transition: all .5s ease-in-out;
}
.menu-image{
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    right: 0;
}
#first-circle{
    z-index: 9;
    right: -200%;
}
#second-circle{
    z-index: 8;
    right: 200%;
}
#third-circle{
    z-index: 7;
    right: 200%;
}
#grey-background{
    z-index: 6;
    right: 2000%;
}
#menu-logo{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    right: 50px;
    z-index: 10;
}






nav{ 
    z-index: 10;
    position: absolute;   
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
ul{    
    margin: 0;
    padding: 0;
    position: absolute;   
    top: 45%;
    left: 60%;
    height: 100%;
    width: 100%;
    list-style: none;
}
li{
    font-size: 40px;
    transition: all .2s ease-out;
}
li i{
    font-size: 20px;
    margin: 20px;
    /* visibility: hidden; */
}
.link{
    position: absolute;
    cursor: pointer; 
    font-size: 30px;
    font-weight: bold;
    transition: all 0s ease-out;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
}
.minus-two{
    top: -400px;
    left: 200px;
}
.minus-one{
    top: -200px;
    left: 100px;
}
.minus-three{
    top: -600px;
    left: 300px;
}
.one{
    top: 0px;
    left: 0px;

}
.two{
    top: 200px;
    left: 100px;
}
.three{
    top: 400px;
    left: 200px;
}
.main{   
    font-size: 40px; 
}
.four{
    top: 600px;
    left: 300px;
}